
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th>Time</th>
      <th>Recipient</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
        <th scope="row">#{{ transaction.id }}</th>
        <td scope="row">{{ transaction.timestamp }}</td>
        <td scope="row">{{ transaction.recipient }}</td>
        <td scope="row">{{ transaction.amount }}</td>
    </tr>
  </tbody>
</table>

