<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light rounded">
    <a
      class="navbar-brand mb-0 brand"
      href="#"
      [ngClass]="{ valid: isValid, invalid: !isValid }"
    >
      <span>BlockChain</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample09"
      aria-controls="navbarsExample09"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['balance']">User Info</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['send-transaction']">Send Transaction</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <app-transaction-button>
            </app-transaction-button>
        </li>
        <li class="nav-item">
          <app-mine-button>
          </app-mine-button>
        </li>
      </ul>
    </div>
  </nav>
</header>
