.index{
  font-size: 12px;
  font-style: normal;
  color: rgb(70, 70, 70);
}
.date{
  font-size: 11px;
  font-style: normal;
  color: rgb(95, 95, 95);
}
.row-border{
  background-color: #007bff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.row-border:hover{
  opacity: 0.9;
}
.row-border>tbody{
  color: #444444;
}
table{
  border: 1px #cfcfcf solid;
}
table.dataTable thead th{
  border-bottom: 1px #cfcfcf solid;
}
table.dataTable.no-footer{
  border-bottom: 1px #cfcfcf solid;
}
