head{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cecece;
}
body {
  background-color: #cecece;
  padding-top: 4%;
}


//Bootstrap Class Overwrite
.jumbotron{
  background-color: #ffffff;
}
