<header>
  <h2 [ngClass]="{'valid': isValid,'invalid': !isValid}">BlockChain</h2>
  <div [ngClass]="{'empty': blockchain.pendingTransactions.length===0,'transactionCount': blockchain.pendingTransactions.length>=0 }">
    {{blockchain.pendingTransactions.length}} Pending Transactions
  </div>
  <nav>
      <button [ngClass]="'navBtn'" [routerLink]="['dashboard']">Dashboard</button>
    <button [ngClass]="'navBtn'" [routerLink]="['send-transaction']">Send Transaction</button>
    <button tooltip="Minerar novo bloco!" id='btnMine' (click)="onMine()">Mine</button>
  </nav>
</header>

<main>
  <br>
  <router-outlet></router-outlet>
</main>
<pre>
    {{blockchain | json}}
</pre>


