.imgMainPage{
  width: 400px;
  margin-left: 30px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 20px;
}
.imgMainPage:hover{
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .imgMainPage{
    margin-left: 0px;
    margin-bottom: 0px;
    width: 300px;
    padding-bottom: 50px;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .imgMainPage{
    margin-left: 0px;
    margin-bottom: 0px;
    width: 150px;
    padding-bottom: 50px;
    align-items: center;
  }
}
