<div class="container">
  <div class="row">
    <blockquote class="blockquote">
      <p class="mb-0">
        A blockchain, is a growing list of records, called blocks, which are
        linked using cryptography. Each block contains a cryptographic hash of
        the previous block, a timestamp, and transaction data (generally
        represented as a merkle tree root hash).
      <small class="text-right">
        <a href="https://en.wikipedia.org/wiki/Blockchain" target="_blank">By Wikipedia</a>
      </small>
    </p>
    </blockquote>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      This app has been created on the Angular and Block Chain Concepts training,
      which was provided by Rômulo Zoch.
      <br><br>
      I've improved the visual and all the pages available on this application.
      Also corrected the search balance bug, who was occuring on the first version.
      <br><br>
      <b>List of all technologies used:</b> Angular CLI 7, NPM, GIT(GitHub), VSCode IDE, Bootstrap,
      NGX-Bootstrap, Datatables and Father Google :)
      <br><br>
    </div>
    <div class="col-md-6 ml-auto">
      <img class="imgMainPage" src="../../assets/images/blockchainExplained.jpg">
    </div>
  </div>
</div>
