<div>
    <tabset>
      <tab  heading="Blocks">
        <div class="datatable">
          <app-blocks-datatable></app-blocks-datatable>
        </div>
      </tab>
      <tab heading="Transactions">
        <div class="datatable">
          <app-transactions-datatable></app-transactions-datatable>
        </div>
      </tab>
      <tab heading="Pending Transactions">
        <div class="datatable">
          <app-pending-transactions-datatable></app-pending-transactions-datatable>
        </div>
      </tab>
    </tabset>
</div>



